*
{
	margin:0;
	padding:0;
	font-family:arial;
}
body
{
}
.container
{
	width:1170px;
	margin:auto;
}

/*start header*/

header .container
{
	background-color:#ffaaaa;
	height:80px;
	position:relative;
	
}
.image .logo
{
	width:50px;
	height:50px;
	float:left;
	position:absolute;
	top:20px;
	left:30px;
	transition:0.6s ease;
}
.site_name
{
	font-family:palatino,Impact, Charcoal, sans-serif;
	float:left;
	position:absolute;
	top:10px;
	font-size:40px;
	color:#fff;
	margin-left:75px;
	transition:0.6s ease;
}
.site_name span
{
	color:#fff000;
}
.text a[target="_blanck"]
{
	float:right;
	position:absolute;
	bottom:5px;
	right:50px;
	font-size:20px;
	color:#4c4c4c;
	transition:0.6s ease;
	text-decoration:none;
}
.text a:hover
{
	color:#fff000;
}

/*end header */

/* start navigation */

.menu .container
{
	height:60px;
	background-color:#fff;
	position:relative;
}
.menu input[list="categories"]
{
	position:absolute;
	top:15px;
	left:80px;
	height:25px;
	width:350px;
	border:2px groove #fff;
	border-radius:5px;
}
.menu input[list="categories"]:hover
{
	border-color:#ffaaaa;
	
}
.menu .list 
{
	list-style-type:none;
	float:right;
	position:absolute;
	right:120px;
	top:20px;
}
.menu .list li 
{
	display:inline-block;
}
.menu .list li a 
{
	color:#52565e;
	text-decoration:none;
	transition:0.6s ease;
	margin:5px;
	margin-right:20px;
}
.menu .list li a:hover 
{
	color:#ffaaaa;
	border:1px solid transparent;
}

/* end navigation */

/* start articles */

.images .container 
{
	background-image:url('Shopping-Online00.jpg');
	background-size:cover;
	height:600px;
}
/* end articles */