*
{
	margin:0;
	padding:0;
	font-family:arial;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}	
/*body
{
	height:10000px;
}
*/
/*start header*/

.header
{
	background-color:#000;
	height:80px;
	position:relative;
}
.image .logo
{
	width:50px;
	height:50px;
	float:left;
	position:absolute;
	top:20px;
	left:30px;
	transition:0.6s ease;
}
.site_name
{
	font-family:palatino,Impact, Charcoal, sans-serif;
	float:left;
	position:absolute;
	top:10px;
	font-size:40px;
	color:#fff;
	margin-left:75px;
	transition:0.6s ease;
}
.site_name span
{
	color:#fff000;
}
.text a[target="_blanck"]
{
	float:right;
	position:absolute;
	bottom:5px;
	right:50px;
	font-size:20px;
	color:#fff000;
	transition:0.6s ease;
	text-decoration:none;
}
.text a:hover
{
	color:#fff;
}

/*end header */

/* start navigation */
.menu .cart a i
{
	color:#000;
	margin-left:30px 30px;
	padding:5px;
}
.menu
{
	height:60px;
	background-color:#fff;
	position:relative;
}
.menu input[list="categories"]
{
	position:absolute;
	top:15px;
	left:80px;
	height:25px;
	width:350px;
	border:2px groove #fff;
	border-radius:5px;
}
.menu input[list="categories"]:hover
{
	border-color:#000;
}
.menu .list 
{
	list-style-type:none;
	float:right;
	position:absolute;
	right:120px;
	top:20px;
}
.menu .list li 
{
	display:inline-block;
}
.menu .list li a 
{
	color:black;
	text-decoration:none;
	transition:0.6s ease;
	padding:14px;
	margin-right:20px;
	font-size:17px;
	border-radius:5px
	
}
.menu .list li a[class="home"]
{
	color:#fff;
	background-color:#000;
}
.menu .list li a:hover 
{
	color:#000;
	background-color:#ddd;
}
.menu .list li a:active
{
	color:#fff;
	background-color:#000;
}
/* end navigation */

/* start articles */
.slider
{
	width:1000px;
	height:500px;
	background-image:url('nour.jpg');
	margin:0px auto;
	animation:slide 15s infinite;
}
@keyframes slide
{
	25%{
		background-image:url('nour.jpg');
	}
	50%{
		background-image:url('online shopping.jpg');
	}
	75%{
		background-image:url('Shopping-Online8.jpg');
	}
	100%{
		background-image:url('shopping5.jpg');
	}
}

/* end articles */

