body {
  box-sizing: border-box;
  margin: 0;
}

.intro_part {
  width: 100%;
  height: 100vh;
  position: relative;
  /* border: 1px white solid; */
}
@media (max-width: 767px) {

  .intro_part { 
    min-height: 139vh;  
  }
}


.part_one {
  width: 100%;
  height: 63vh;
  padding: 34px 97px;
  background-color: #1C1E1D;
  /* border: 1px white solid; */
}

@media (max-width: 767px) {

  .part_one {
    min-height: 110vh;
    text-align: center;
  }
}

.part_two {
  width: 100%;
  height: 37vh;
  padding: 34px 97px;
  background-color: #D9D9D9;
  /* border: 1px white solid; */
}

.intro_img img {
  position: absolute;
  z-index: 3;
  width: 90vw;
  height: 53vh;
  right: 18px;
  top: -54px;
}

@media (max-width: 767px) {
  .intro_img img { 
    right: -5px;
    top: -22px;
    min-height: 110vh;
    text-align: center;
  }
}

.X_img img {
  position: absolute;
  z-index: 7;
  width: 31vw;
  height: 46vw;
  right: 24%;
  top: 20%;
}

@media (max-width: 767px) {
  .X_img img {
    top: 40%;
    right: 30%;
  }
}

.part_two p {
  font-size: 20px;
  font-weight: bold;
  font-family: Open Sans;
}

.part_two button {
  padding: -15px 50px;
  color: #D5E24D;
  font-family: BEBAS NEUE CYRILLIC;
}
@media (max-width: 767px) {
  .part_two {
    text-align: center;
  }
}

.above_img img {
  position: absolute;
  z-index: 5;
  width: 30vw;
  height: 26vw;
  right: 17%;
  top: 5%;
}

@media (max-width: 767px) {
  .above_img img {
    top: 46%;
    right: 53%;
    width: 24vw;
    height: 42vh;
  }
}

.below_img img {
  position: absolute;
  z-index: 6;
  width: 27vw;
  height: 23vw;
  right: 13%;
  top: 50%;
}

@media (max-width: 767px) {
  .below_img img {
    right: 16%;
    top: 46%; 
    width: 24vw;
    height: 42vh;
  }
}

.logo_img img {
  width: 10vw;
  height: 10vw;
}

.part_one p {
  font-size: 90px; 
  color: #D5E24D;
  margin: 32px 0px; 
  line-height: initial;
  font-family: BEBAS NEUE CYRILLIC;
}

@media (max-width: 767px) {
  .part_one p {
    font-size: 50px;
  }
}

/* part 2 */
.mk-grid {
  display: grid;
  width: 100%;
  min-height: 47vh;
  padding: 30px 90px;
  background-color: #1C1E1D;
  color: #D9D9D9;
}
.mk-grid h2, h1{
  color: #D5E24D;
}

/* part 3 */

.images{ 
  width: 100%;
  height: 63vh;
  padding: 34px 0px;
  /* padding: 30px; */
  display: flex; 
  background-color: #dcddd5;
}
.images .col-md{ 
  background-color: #1C1E1D;
  padding: 30px;
  display: flex; 
}
.images img{ 
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .images img{ 
    width: 100%;
    height: 100%;
   }
   .images .col-md{ 
    background-color: #1C1E1D;  
    width: 60%;
    height: 50%; 
  }
   .images{ 
    width: 100%;
    min-height: 168vh;
    display: block; 
    /* background-color:#1C1E1D
     */
   }
}


/* part 4 */


.fa-text-width:before {
  content: "\f035"; 
  font-size: 35px; 
  color:#D5E24D;

}


.fa-history:before {
  content: "\f1da";
  font-size: 35px;
  color:#D5E24D
}

.fa-server:before {
  content: "\f233";
  font-size: 35px;
  color:#D5E24D
} 
  
.fa-folder:before {
  content: "\f07b";
  font-size: 35px;
  color:#D5E24D
}

.fa-location-arrow:before {
  content: "\f124";
  font-size: 35px;
  color:#D5E24D
}


.fa-sun:before {
  content: "\f185";
  font-size: 35px;
  color:#D5E24D
}
 
 

.col-3{
  text-align:center;
} 
 
.steps{
  color: #1C1E1D;
}
.success{
  min-height: 100vh;
  background-color:#1C1E1D;
}
.portofolio{
  padding:20px;
  height: 77vh;
  width: 98.78vw;
  display: inline-flex;
}
.case1{ 
  height: 100%;
  width: 49%;
}
.mess{
  text-align: center;
  padding: 10px;
  margin: -6px;
  font-size: 62px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #1C1E1D; 
  padding: 10;
}
.grid-item { 
  /* border: 1px solid rgba(0, 0, 0, 0.8);  */
  text-align: center;
}
 
  .FAQ{
    padding: 55px;
  }
 

.grid-container-2{
  display: grid;
  grid-template-columns: auto auto auto; 
  padding: 30;
  margin-top: 15px;
}
@media (max-width: 767px) {

  .grid-container-2{
    display: gird;
    grid-template-columns: auto auto; 
    padding: 5;
    margin: 5px;
    height: 63vh;
  }
  .grid-container-2 img{
    width: 50px;
    height: 50px;
  }
}
 
.food{
  background-image: url(images/food_back.jpg);  
  opacity: 0.9;
  background-size: cover;
  padding: 20px;
  color: black;
}

.cases{
  background-image: url(images/food_back2.jpg);  
  opacity: 0.9;
  background-size: cover;
  padding: 20px;
  color: black;
}
.cases .case1{
  width: 100%;
  height: 100%;
}
.form-sec{
  width: 100%;
  height: 320vh; 
  background-color:  #eef0e6;
  color: black;
}
.form{
  width: 100%;
  height: 300vh; 
}
.form iframe{
  width: 100%;
  height: 100%;
}
